*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.header{
    display: flex;
    text-align: center;
    justify-content: baseline;
    background-color: aliceblue;


}
.header a{
    text-decoration: none;
    margin: 20px;
}
h1{
  color: aliceblue;
}
.fa-phone{
    text-align: right;
    margin-top: 32px;
    margin-left: 20px;
}
.fa-bars{
    margin-top: 32px ;
    margin-left: 150px;
    }
    